body.credits {
	background: url("assets/credits.gif") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	width: auto;
}
body.homepage {
	background: url("assets/titlescreen2.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: auto;
}
#p1 {
	font-family: 'Poppins', sans-serif;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	top: 30%;
	right: 30%;
	transform: translate(-50%, -50%);
	/* text-align: center; */
	font-size: 75px;
	font-weight: bolder;
	/* color: azure; */
	/* background-color: red;
	box-shadow: 10px 10px 5px rgb(199,21,133);
	border-radius: 10px; */
	color:silver;
	text-shadow:
	4px 4px 1px #300000,
	4px 6px 1px #400000,
	4px 8px 1px #500000,
	4px 10px 1px #600000,
	4px 12px 1px #700000,
	4px 14px 1px #800000,
	4px 16px 1px #900000,
	4px 18px 1px #A00000,
	4px 20px 1px #B00000,
	4px 22px 1px #C00000,
	4px 24px 1px #D00000,
	4px 26px 1px #E00000,
	4px 28px 1px #F00000,
	4px 30px 1px #FA0000,
	4px 32px 1px #FB0000,
	4px 34px 1px #FC0000,
	4px 36px 1px #FD0000,
	4px 38px 1px #FE0000,
	4px 40px 2px #FF0000;
}
#p2 {
	font-family: 'Poppins', sans-serif;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	top: 30%;
	right: 20%;
	transform: translate(-50%, -50%);
	/* text-align: center; */
	font-size: 75px;
	font-weight: bolder;
	/* color: red; */
	/* background-color: whitesmoke;
	box-shadow: 10px 10px 5px rgb(199,21,133);
	border-radius: 10px; */
	color:silver;
	text-shadow:
	4px 4px 1px #300000,
	4px 6px 1px #400000,
	4px 8px 1px #500000,
	4px 10px 1px #600000,
	4px 12px 1px #700000,
	4px 14px 1px #800000,
	4px 16px 1px #900000,
	4px 18px 1px #A00000,
	4px 20px 1px #B00000,
	4px 22px 1px #C00000,
	4px 24px 1px #D00000,
	4px 26px 1px #E00000,
	4px 28px 1px #F00000,
	4px 30px 1px #FA0000,
	4px 32px 1px #FB0000,
	4px 34px 1px #FC0000,
	4px 36px 1px #FD0000,
	4px 38px 1px #FE0000,
	4px 40px 2px #FF0000;
}
#p3 {
	font-family: 'Poppins', sans-serif;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	top: 55%;
	right: 18%;
	transform: translate(-50%, -50%);
	/* text-align: center; */
	font-size: 40px;
	font-weight: bolder;
	color: white;
  	text-shadow: 4px 4px 8px #000000;
	/* background-color: whitesmoke;
	box-shadow: 10px 10px 5px rgb(199,21,133); */
	/* border-radius: 10px; */
}
#p4 {
	font-family: 'Poppins', sans-serif;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	bottom: 30%;
	right: 28%;
	transform: translate(-50%, -50%);
	/* text-align: center; */
	font-size: 40px;
	font-weight: bolder;
	color: white;
  	text-shadow: 4px 4px 8px #000000;
	/* background-color: whitesmoke;
	box-shadow: 10px 10px 5px rgb(199,21,133); */
	/* border-radius: 10px; */
}
#p5 {
	font-family: 'Poppins', sans-serif;
	position: absolute;
	top: 15%;
	right: 32.5%;
	transform: translate(-50%, -50%);
	/* text-align: center; */
	font-size: 75px;
	font-weight: bolder;
	color: white;
  	text-shadow: 4px 4px 8px #000000;
	/* background-color: whitesmoke;
	box-shadow: 10px 10px 5px rgb(199,21,133); */
	/* border-radius: 10px; */
}
#p6 {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* text-align: center; */
	font-size: 28px;
	font-weight: bolder;
	color: black;
}
#p7 {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* text-align: center; */
	font-size: 28px;
	font-weight: bolder;
	color: black;
}
#p8 {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	position: absolute;
	top: 48%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* text-align: center; */
	font-size: 28px;
	font-weight: bolder;
	color: black;
}
#p9 {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	position: absolute;
	top: 56%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* text-align: center; */
	font-size: 28px;
	font-weight: bolder;
	color: black;
}
#p10 {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* text-align: center; */
	font-size: 28px;
	font-weight: bolder;
	color: white;
  	text-shadow: 4px 4px 8px #000000;
}